body.dark-mode {
    background-color: #121212;
    color: white;
}

.dark-mode .card {
    background-color: #1e1e1e;
    color: white;
}

.dark-mode .navbar {
    background-color: #1e1e1e !important;
}

.dark-mode footer {
    background-color: #1e1e1e;
}